<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>인하병원 환자 페이지</title>
    <style>
      header { background-color: #123254; color: white; padding: 20px;
      font-weight: bold; } .container { margin-top: 20px; } .btn { white-space:
      nowrap; } table { margin-top: 20px; } .custom-jumbotron { padding: 2rem;
      margin-bottom: 2rem; background-color: #e9ecef; border-radius: 0.3rem; }
      .custom-jumbotron h1 { font-size: 2.5rem; font-weight: 300; }
    </style>
  </head>
  <body>
    <header>
      <div class="d-flex justify-content-between align-items-center">
        <h1>인하병원 환자 페이지</h1>
        <div>
          <a href="/" class="btn btn-outline-danger">로그아웃</a>
        </div>
      </div>
    </header>
    <div class="custom-jumbotron">
      <h1 class="display-4">안녕하세요,
        <b>{{patient_name}}({{patient_id}})</b>
        님</h1>
    </div>
    <div class="container">
      <div class="btn-group mb-3">
        <a href="/patient" class="btn btn-info">내 예약</a>
        <a href="/patient/inpatient" class="btn btn-secondary">내 입원기록</a>
      </div>
      <div class="btn-group float-right">
        <button
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#inputModal"
        >병원 예약</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">예약 번호</th>
            <th scope="col">예약일</th>
            <th scope="col">예약 부서</th>
            <th scope="col">예약 취소</th>
          </tr>
        </thead>
        <tbody>
          {{#each reservations}}
            <tr>
              <th scope="row">{{this.reservation_number}}</th>
              <th scope="row">{{this.reservation_date}}</th>
              <th scope="row">{{this.name}}</th>
              <td><button
                  type="button"
                  class="btn btn-warning btn-sm"
                  onclick="cancelReservation('{{this.reservation_number}}')"
                >취소</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div
      class="modal fade"
      id="inputModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="inputModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inputModalLabel">입력 화면</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form method="post" action="/patient/reservation">
            <div class="modal-body">
              <div class="form-group">
                <label for="reservation_number">예약 번호</label>
                <input
                  type="text"
                  class="form-control"
                  id="reservation_number"
                  name="reservation_number"
                />
              </div>
              <div class="form-group">
                <label for="department_name">부서 이름</label>
                <select class="form-control" id="department_name" name="department_name">
                  {{#each specialties}}
                    <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">

                <label for="reservation_date">예약일</label>
                <input
                  type="text"
                  class="form-control"
                  id="reservation_date"
                  name="reservation_date"
                />
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">추가</button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >닫기</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script>
      function cancelReservation(id) {
        if (confirm("정말로 취소하시겠습니까?")) {
          fetch(`/patient/reservation/${id}`, {
            method: 'DELETE',
          })
            .then((res) => {
              if (!res.ok) {
                alert("취소에 실패했습니다.");
                return;
              }
            })
            .then(() => {
              alert("취소했습니다.");
              location.reload();
            });
        }
      }
    </script>
  </body>
</html>